html{
  overflow-y: scroll;
}


body {
  font-family:  Arial, sans-serif;
}

/* Style the header*/
.header {
  padding: 80px;
  text-align: center;
  background: #e68a00;
  color: white;
}
/* Increase the font size of the h1 element */
.header h1 {
  font-size: 40px;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #333; /* Dark background color */
  text-align: center;
}

a {
  text-decoration: none;/* Remove underline */
  color:#2E86C1
}

a:hover{
  font-weight: 600
}

a:visited {
  color:#2E86C1;
}

/* Style the navigation bar links */
.navbar a {
  display: inline-block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  font-weight: 100
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

.wrapper{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  justify-content: center
}

.leftcolumn{
  float: left;
  margin-right: 50px;
}

.rightcolumn{
  float: left;
  word-wrap: break-word;
  max-width: 600px;
}


/*Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .wrapper {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}

figure {
  padding: 4px;
  margin: auto;
}

figcaption {
  font-style: italic;
  padding: 2px;
  font-size: 7pt;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
